:root {
    --main-bg-color: #46001a;
    --main-bg-col-focus: #6e032a;
}

#delivery-banner {
    background: rgb(70,0,26);
    background: linear-gradient(126deg,  rgba(112,0,42,1) 0%, rgba(70,0,26,1) 85%);
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Droid-Serif', serif;
    /* font-style: italic; */
}

.serif-font {
    font-family: 'Droid-Serif', serif;

}

.sans-font {
    font-family: 'Lato', sans-serif;
}

.homepage {
    background: url('/media/homepage_bg.jpg');
    background-size: cover;
}

/* from Bulma for FontAwesome icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--main-bg-col-focus);
    color: white;
    min-width: 260px;
}

.btn-black {
    background: var(--main-bg-color);
    color: white;
}

.btn-outline-black {
    background: white;
    color: var(--main-bg-color) !important; /* use important to override link colors for <a> elements */
    border: 1px solid var(--main-bg-color);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background-color: rgb(207, 47, 82);
    color: white !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--main-bg-color);
    color: white !important;
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--main-bg-col-focus);
    color: white;
}

.text-black {
    color: var(--main-bg-color) !important;
}

.text-cherry {
    color: var(--main-bg-col-focus);
}


.border-black {
    border: 1px solid var(--main-bg-color) !important;
}


.bg-black {
    background: var(--main-bg-color) !important;
}


.overlay { /* change to just homepage class */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* cat badges v.19 */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.messages-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.header-liner {
    background-color: var(--main-bg-color);
    height: 4px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.embed-responsive .card-img-top {
    object-fit: contain;
    /* object-position: 0 50%; */
}

/* for MS EDGE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
     .toast {
        display: block !important;
      }
  }
  
  @supports (-ms-accelerator:true) {
  
  
  /* IE Edge 12+ CSS styles go here */ 
    .toast {
      display: block !important;
    }
  }

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid var(--main-bg-color);
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Bootsrap convenience classes */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: var(--main-bg-color);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 0 !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Shot Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* footer */



#main-footer a:hover i,
#main-footer a {
    color: #fff;
}

#main-footer a i,
#main-footer {
    background: var(--main-bg-color);
    background: 
        linear-gradient(180deg, #5c0122 0%, #3f0118 85%);
    color:rgb(170, 170, 170);
}

#main-footer i a,
#main-footer a:link {
    text-decoration: none;
}

#main-footer a:hover {
    text-decoration: underline;
}

.jet-black {
    color: #140303 !important;
}

h1.jet-black {
    background-color: rgba(255,255,255,0.45);
    text-shadow: 2px 2px 2px #ffecec;
    padding: .5em .25em;
}

/* Media Queries */

/* xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    /* .homepage #main-footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    } */
}

/* padding top on smaller screens */
@media(max-width: 991px){
    .header-container { 
        padding-top: 124px; 
    }
    body { 
        height: calc(100vh - 124px); 
    }
}