{% load static %}
<html>
    <head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="wdith=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock meta %}

    {% block extrameta %}
    {% endblock extrameta %}

    {% block corecss %}
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% endblock corecss %}

    {% block extracss %}
    {% endblock extracss %}
    <title>World of Wines{% block extra_title %} {% endblock extra_title %}</title>
    </head>
    <body class="bg-yellow-800">
        <header class="container-fluid fixed-top">
        <h1 class="bg-white">World of Wines</h1>
        {% if messages %}
        <div class="messages-container">
        </div>
        {% endif %}
        </header>

    {% block page_header %}
    {% endblock page_header %}

    {% block content %}
    {% endblock content %}
    
    {% block corejs %}
    <!-- UI/UX -->
    <script src="https://kit.fontawesome.com/61f1a208df.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock corejs %}
    
    {% block extrajs %}
    {% endblock extrajs %}

    {% block postloadjs %}
    {% endblock postloadjs %}

    </body>

</html>