<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a 
            class="logo-font font-weight-bold nav-link text-black mr-5" 
            href=""
            >Red</a>
        </li>
        <li class="nav-item">
            <a 
            class="logo-font font-weight-bold nav-link text-black mr-5"
            href=""
            >White</a>
        </li>
        <li class="nav-item">
            <a 
            class="logo-font font-weight-bold nav-link text-black mr-5"
            href=""
            >Sparkling</a>
        </li>
        <li class="nav-item">
            <a 
            class="logo-font font-weight-bold nav-link text-black mr-5"
            href=""
            >Ros&eacute;</a>
        </li>
        <li class="nav-item">
            <a
            class="logo-font font-weight-bold nav-link text-black mr-5"
            href=""
            >Specials</a>
        </li>
    </ul>
</div>