{% extends "base.html" %}
{% load static %}
{% block extra_title %}Wine List{% endblock extra_title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">    
            <h2 class="logo-font">Wine List</h2>
            <!-- cat badges v.19 -->
            <hr class="w-50 mb-1"> 
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <!-- sorting nav -->
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None|None' %}selected{% endif %}>Sort by...</option>
                            <option value="vintage|asc" {% if current_sorting == 'vintage|asc' %}selected{% endif %}>Vintage/Year (Older)</option>
                            <option value="vintage|desc" {% if current_sorting == 'vintage|desc' %}selected{% endif %}>Vintage/Year (Newer)</option>
                            <option value="list_price|asc" {% if current_sorting == 'list_price|asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="list_price|desc" {% if current_sorting == 'list_price|desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="star_rating|asc" {% if current_sorting == 'star_rating|asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="star_rating|desc" {% if current_sorting == 'star_rating|desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="wtype|asc" {% if current_sorting == 'wtype|asc' %}selected{% endif %}>Wine Type (A-Z)</option>
                            <option value="wtype|desc" {% if current_sorting == 'wtype|desc' %}selected{% endif %}>Wine Type (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'wines:list' %}">Home</a> | </span>
                        {% endif %}
                        <!--- wine type -->
                        {{ page_obj.paginator.count }} {% if wtype %}{{ wtype|title }}{% endif %} Wine{% if page_obj.paginator.count > 1 %}s{% endif %} {% if special_offers %}{{ special_offers}}{% endif %}{% if search_term %}found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <!-- /sorting nav -->
            </div>
            <div class="row">
                {% for wine in wine_list %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'wines:edit' slug=wine.slug %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'wines:delete' slug=wine.slug  %}">Delete</a>
                            </small>
                        {% endif %}
                        <div class="embed-responsive embed-responsive-1by1">
                        <a
                            href="{% url 'wines:detail' wine.slug %}"
                        >
                        {% if wine.image %}
                        <img
                            class="card-img-top embed-responsive-item"
                            src="{{ wine.image.url }}" 
                            alt="{{ wine.name }}" />
                        {% else %}
                        <img
                            class="card-img-top" 
                            src="{{ MEDIA_URL }}noimage.png" 
                            alt="{{ wine.name }}" />
                        {% endif %}
                        </a>
                        </div>
                        <div class="card-body pb-0">
                            <a href="{% url 'wines:detail' wine.slug %}" title="{{ wine.region }}">
                            <p class="jet-black mb-0 font-weight-light">{{ wine.winery }} <img src="{{ wine.region.country.flag }}" alt="{{ wine.region }}" class="align-baseline" /></p>
                            <p class="jet-black mb-0 font-weight-bold">{{ wine.name }} {{ wine.vintage }}</p>
                            {% if wine.discounted_price %}
                            <p class="lead mb-0 text-left font-weight-bold jet-black"><small><strike>&euro;{{ wine.list_price }}</strike></small> <b>&euro;{{ wine.discounted_price}}</b></p>
                            {% else %}
                            <p class="lead mb-0 text-left font-weight-bold jet-black">&euro;{{ wine.list_price }}</p>
                            {% endif %}
                            <p class="small mt-1 mb-1 text-cherry">
                            {% if wine.wtype %}
                                <a class="text-cherry"
                                    href="{% url 'wines:type' wtype=wine.wtype %}" 
                                    ><i class="fad fa-wine-glass-alt"></i> {{ wine.get_wtype_display }} </a>
                            {% endif %}
                            {% if wine.star_rating %}
                            &nbsp;<i class="fas fa-star mr-1"></i>{{ wine.star_rating }} &nbsp;[ {{wine.parker_points}} ]
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                            </p>
                            <p class="small text-muted">
                            {% if wine.star_rating %}
                            {{ wine.one_liner }}
                            {% endif %}
                            </p>
                            </a>
                        </div>
                        {% comment %} <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                    <!-- /card --> {% endcomment %}
                    </div>
                <!-- /col -->
                </div>
                <!-- cond hr -->
                {% spaceless %}
                {% if forloop.counter|divisibleby:1 %}
                <div 
                 class="col-12 mb-5 
                        d-sm-none"
                    ><hr></div>{% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                <div 
                 class="col-12 mb-5 
                        d-none 
                        d-sm-block 
                        d-md-block 
                        d-lg-none"
                    ><hr></div>{% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div 
                 class="col-12 mb-5
                        d-none 
                        d-lg-block 
                        d-xl-none"
                    ><hr></div>{% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div 
                 class="col-12 mb-5
                        d-none 
                        d-xl-block"
                    ><hr></div>{% endif %}
                {% endspaceless %}
            {% endfor %}
            <!-- /row -->
            </div>
            <div class="row col-12">
                <nav class="p-2" aria-label="Pagination">
                    <ul class="pagination justify-content-center mb-0 flex-wrap">
                        {% for n in page_obj.paginator.page_range %}
                            {% if n == page_obj.number %} 
                            <li class="nav-item">
                                <span class="btn btn-outline-black rounded-0 bolder mx-2">
                                {{ n }} 
                                </span>
                            </li>
                            {% else %}
                            <li class="nav-item"><a class="btn btn-black rounded-0 mx-2" href="?page={{n}}">{{ n }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- btt-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100"><i class="fas fa-arrow-up text-black mx-auto my-auto"></i></a>	
</div>
{% endblock content %}

{% block extrajs %}
{{ block.super }}
<script>
    document.getElementById("sort-selector").addEventListener("change", function(){
        const currentUrl = new URL(window.location)
        const selectedVal = this.value
        if(selectedVal != "reset"){
            const sort = selectedVal.split("|")[0]
            const direction = selectedVal.split("|")[1]
            currentUrl.searchParams.set("sort", sort)
            currentUrl.searchParams.set("direction", direction)
        } else {
            currentUrl.searchParams.delete("sort")
            currentUrl.searchParams.delete("direction")
        }
        window.location.replace(currentUrl)
    });
</script>
{% endblock extrajs %}
