{% extends "base.html" %}
{% load static  %}
{% block extra_title %}Wine List{% endblock extra_title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">    
            <h2 class="logo-font">Wine List</h2>
            <!-- cat badges v.19 -->
            <hr class="w-50 mb-1"> 
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <!-- sorting nav -->
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        {% comment %} {{ current_sorting }} {% endcomment %}
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None|None' %}selected{% endif %}>Sort by...</option>
                            <option value="list_price|asc" {% if current_sorting == 'list_price|asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="list_price|desc" {% if current_sorting == 'list_price|desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="star_rating|asc" {% if current_sorting == 'star_rating|asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="star_rating|desc" {% if current_sorting == 'star_rating|desc' %}selected{% endif %}>Rating (high to low)</option>
                            {% comment %} <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option> {% endcomment %}
                            <option value="wtype|asc" {% if current_sorting == 'wtype|asc' %}selected{% endif %}>Wine Type (A-Z)</option>
                            <option value="wtype|desc" {% if current_sorting == 'wtype|desc' %}selected{% endif %}>Wine Type (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'wines:list' %}">Wines Home</a> | </span>
                        {% endif %}
                        {{ page_obj.paginator.count }} Wines{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <!-- /sorting nav -->
            </div>
            <div class="row">
                {% for wine in wine_list %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <a
                            href="{% url 'wines:detail' wine.slug %}"
                        >
                        {% if wine.image %}
                        <img
                            class="card-img-top img-fluid" 
                            src="{{ wine.image.url }}" 
                            alt="{{ wine.name }}" />
                        {% else %}
                        <img
                            class="card-img-top img-fluid" 
                            src="{{ MEDIA_URL }}noimage.png" 
                            alt="{{ wine.name }}" />
                        {% endif %}
                        </a>
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ wine.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if wine.discounted_price %}
                                    <p class="lead mb-0 text-left font-weight-bold"><small><strike>&euro;{{ wine.list_price }}</strike></small> <b>&euro;{{ wine.discounted_price}}</b></p>
                                    {% else %}
                                    <p class="lead mb-0 text-left font-weight-bold">&euro;{{ wine.list_price }}</p>
                                    {% endif %}

                                    {% if wine.wtype %}
                                    <p class="small mt-1 mb-0">
                                        <a 
                                         href="{% url 'wines:type' wtype=wine.wtype %}" 
                                         class="text-muted"
                                         ><i class="fas fa-tag mr-1"></i>{{ wine.get_wtype_display }}</a>
                                    </p>
                                    {% endif %}
                                    {% if wine.star_rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i> {{ wine.star_rating }}</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    <!-- /card -->
                    </div>
                <!-- /col -->
                </div>
                <!-- cond hr -->
                {% spaceless %}
                {% if forloop.counter|divisibleby:1 %}
                <div 
                 class="col-12 mb-5 
                        d-sm-none"
                    ><hr></div>{% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                <div 
                 class="col-12 mb-5 
                        d-none 
                        d-sm-block 
                        d-md-block 
                        d-lg-none"
                    ><hr></div>{% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div 
                 class="col-12 mb-5
                        d-none 
                        d-lg-block 
                        d-xl-none"
                    ><hr></div>{% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div 
                 class="col-12 mb-5
                        d-none 
                        d-xl-block"
                    ><hr></div>{% endif %}
                {% endspaceless %}
            {% endfor %}
            <!-- /row -->
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- btt-->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100"><i class="fas fa-arrow-up text-black mx-auto my-auto"></i></a>	
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.querySelector(".btt-link").addEventListener("click", function(e){window.scrollTo(0,0)})
    document.getElementById("sort-selector").addEventListener("change", function(){
        const currentUrl = new URL(window.location)
        const selectedVal = this.value
        if(selectedVal != "reset"){
            const sort = selectedVal.split("|")[0]
            const direction = selectedVal.split("|")[1]
            currentUrl.searchParams.set("sort", sort)
            currentUrl.searchParams.set("direction", direction)
        } else {
            currentUrl.searchParams.delete("sort")
            currentUrl.searchParams.delete("direction")
        }
        window.location.replace(currentUrl)
    })
</script>
{% endblock postloadjs %}
